<!-- Sidebar-->
<div class="border-end" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom">
        <a href="{{ path('admin') }}">Admin Doge News</a>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('admin') }}">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('user_page') }}">
            <i class="fas fa-users-cog"></i> User board 
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('admin_rss_manager') }}">
            <i class="fas fa-rss"></i> RSS manager 
        </a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('btc_exchange_rates') }}">
            <i class="fab fa-btc"></i> BTC rates 
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('admin_coin_list') }}">
            <i class="fab fa-bitcoin"></i> Coin list
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('admin_coin_prices') }}">
            <i class="fas fa-search-dollar"></i> Coins prices
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        
    </div>
</div>