<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Crypto News{% endblock %}</title>
        {% block metatags %}{% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('public/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
            
            {% block cssplugins %}
                {#
                    loads js plugin file, 
                    naming convention: file and folder should have the same name
                    all plugins should be in public/js/pluginname/pluginname.js
                #}
                {% if cssplugin is defined and cssplugin is iterable %}
                    {% for cssfile in cssplugin %}
                        <link href="{{ asset('public/js/plugin/'~cssfile~'/'~cssfile~'.css') }}" rel="stylesheet"/>
                    {% endfor %}
                {% endif %}
            
            {% endblock %}

            <link href="{{ asset('public/css/global.css') }}" rel="stylesheet"/>
        {% endblock %}
       
        {% block analitycs %}{% endblock %}

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9341008583487439" crossorigin="anonymous"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PWRHVJHQ29"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-PWRHVJHQ29');
		</script>

    </head>
    <body>

        {% block body %}
            {% block pageheader %}{% endblock %}
        {% endblock %}

        {% block pagefooter %}
            {% include 'public/_footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('public/js/jquery.js') }}"></script>
            <script src="{{ asset('public/js/popper.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.bundle.min.js') }}"></script>

            {#
                loads js plugin file, 
                naming convention: file and folder should have the same name
                all plugins should be in public/js/pluginname/pluginname.js
            #}
            {% block jsplugins %}
                {% if jsplugin is defined and jsplugin is iterable %}
                    {% for jsfile in jsplugin %}
                        <script src="{{ asset('public/js/plugin/'~jsfile~'/'~jsfile~'.js') }}"></script>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            <script src="{{ asset('public/js/global.js') }}"></script>
        {% endblock %}

    </body>
</html>
