<div class="container-fluid p_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="{{ path('main_page') }}">
                    <img src="{{ asset('public/img/logo.png') }}" alt="cryptoflush" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <h6>Navigation:</h6>
                <ul>
                    <li>
                        <a class="nav-link" href="{{ path('main_page') }}">Home </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('bitcoin-exchange-rates') }}">Bitcoin rates</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('terms') }}">Terms of service </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Risk Disclosure:</h6>
                <p>
                <small>A purchase of tokens comprises considerable risk and might involve extraordinary risks that may lead to a loss of all or a significant portion of monies or monetary value utilized to acquire Tokens. We will not accept liability for any loss or damage as a result of your trading, buying, selling, swapping or any other interaction with this or other crypto currencies or other related assets.</small>
                </p>
            </div>
            <div class="col-md-12">
                <hr>
                <p class="text-center">&copy; cryptoflush.net</p>
            </div>
        </div>
    </div>
</div>